.homeTheaterSystem {
  -webkit-box-shadow: 0px 3px 17px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 17px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 17px -5px rgba(0, 0, 0, 0.4);
}

/* ::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(25, 25, 23, 0.5);
  border-radius: 3px;
} */
